[arduino]
sketch_name=vedruino

[board]
port=/dev/ttyUSB0
fqbn=esp32:esp32:esp32da
baud=115200
startup_delay=2000
ip=192.168.43.67

[wifi]
ssid=
password=

[mqtt]
host=
port=
user=
password=

[tcp_log]
host=
port=
level=5
color=true

[tcp_ota]
enabled=true
port=5256
verify_md5=false

[sysmon]
enabled=false
log_interval_ms=3333
monitor_cpu=true
monitor_heap=true
monitor_tasks=true
dualcore=true

