[arduino]
sketch_name=vedruino
toolchain_path=~/.arduino15/packages/esp32/tools/xtensa-esp32-elf-gcc/esp-2021r2-patch5-8.4.0/bin/

[board]
port=/dev/ttyUSB0
fqbn=esp32:esp32:esp32da
baud=115200
startup_delay=2000
ip=192.168.43.67

[wifi]
ssid=
password=

[mqtt]
host=
user=
password=

[tcp_ota]
enabled=true
port=5256

