#pragma once

#define WIFI_SSID ""
#define WIFI_PASSWD ""

#define LOG_HOST ""
#define LOG_PORT ""

#define MQTT_HOST ""
#define MQTT_PORT 0
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

/*
Скопировать как config.h и прописать данные
*/
